:root {
  // colors
  --pink: #ff0089;
  --yellow: #ffe121;
  --blue: #0f87ff;
  --dark-grey: #36414d;
  --black: #000000;
  --white: #ffffff;

  // determine extra height for skewed rectangles SOHCAH(TOA)
  --top-skew-height: calc(100vw * 0.06139228045); // a * tan(7°) / 2
  --bottom-skew-height: calc(100vw * 0.03496340597); // a * tan(4°) / 2

  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: proxima-nova, sans-serif;
  line-height: 1.5;
  color: var(--dark-grey);
}

// placeholder
.nav {
  height: 80px;
  border-bottom: 1px solid #d9d9d9;
  background-color: transparent;
}

a {
  color: var(--blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-pink {
  color: var(--pink);
}

.font-semibold {
  font-weight: 600;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  min-width: 240px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  color: var(--black);
  background-color: var(--yellow);
  border: none;
  border-radius: 999em;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: #f7d600;
    text-decoration: none;
  }
}

.icon {
  vertical-align: middle;
  fill: currentColor;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.hero {
  position: relative;
  padding: 32px 32px 70px 32px;

  @media (min-width: 1024px) {
    padding: 48px 0 100px 32px;
  }
}

.hero__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg, var(--pink) 0%, var(--yellow) 100%);
  overflow: hidden;

  & > img {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    vertical-align: middle;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: calc(var(--top-skew-height) + 50px);
    left: 0;
    height: 100%;
    background-color: #ffffff;
    transform: skewY(-7deg);
  }
}

.hero__content {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;

  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.hero__container {
  flex-shrink: 0;
  padding-bottom: 32px;

  @media (min-width: 1024px) {
    padding: 32px 32px 32px 0;
  }
}

.headline {
  margin: 0 0 16px;
  font-size: 56px;
  line-height: 1.1964285714;
  font-weight: bold;
  color: var(--pink);

  @media (min-width: 640px) {
    margin: 0;
  }
}

.tagline {
  margin-top: 4px;
  max-width: 560px;
  font-size: 24px;
  line-height: 1.1875;
  font-weight: bold;

  @media (min-width: 640px) {
    font-size: 32px;
  }
}

.hero__cta {
  margin-top: 24px;
}

.hero__image-wrapper {
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.hero__image {
  width: 100%;
  vertical-align: middle;

  @media (min-width: 640px) {
    width: 500px;
  }
}

.hero__scroll-label {
  position: absolute;
  bottom: 32px;
  left: 50%;
  color: rgba(255, 255, 255, 0.85);
  transform: translateX(-50%);
}

.hero__scroll-button {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 8px;
  width: 50px;
  height: 50px;
  font-family: inherit;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--pink);
  appearance: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: translateY(50%);
  transition: all 200ms ease-in-out;

  &:hover {
    transform: translateY(calc(50% - 2px));
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}

.steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px auto;
}

.step {
  padding: 16px;
  margin: 8px;
  max-width: 200px;
  font-weight: 600;
  color: inherit;
  border-radius: 10px;
  transition: all 200ms ease-in-out;

  &:hover {
    text-decoration: none;
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
      -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
    transform: translateY(-4px);
  }
}

.step__number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 29px;
  border-radius: 50%;
  background-color: var(--pink);
  color: var(--white);
}

.step__title {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 29px;
}

.step__description {
  color: rgba(0, 0, 0, 0.85);
}

.section__tagline {
  margin-bottom: 24px;
  max-width: 340px;
  font-weight: 600;
}

.templates-preview {
  margin-top: 16px;
  width: 100%;
  max-width: 420px;
}

.upload-preview {
  width: 100%;
  max-width: 540px;
}

.add-preview {
  width: 100%;
  max-width: 620px;
}

.customize-preview {
  margin-top: 16px;
  width: 100%;
  max-width: 700px;
}

.download-preview {
  width: 100%;
  max-width: 620px;
}

.social-media {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  line-height: 1.25;

  @media (min-width: 768px) {
    position: relative;
    margin-top: 80px;
  }
}

.social-media__icons {
  display: flex;
  margin: auto;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.social-media__icon {
  width: 42px;
  height: 42px;

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.social-media__icons {
  margin-top: 12px;
  width: 100%;
  max-width: 320px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.section--column {
  flex-direction: column;
}

.section--reverse {
  @media (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.section__title {
  margin: 0;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  margin-bottom: 8px;
}

.section__wrapper {
  flex-shrink: 0;

  @media (min-width: 768px) {
    margin-right: 24px;
  }
}

.section--reverse .section__wrapper {
  @media (min-width: 768px) {
    margin-right: 0;
    margin-left: 24px;
  }
}

.steps-section {
  padding-top: 54px;

  @media (min-width: 768px) {
    padding-bottom: 40px;
  }
}

.choose-section {
  @media (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.upload-section {
  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 90px;
    text-align: left;
  }
}

.add-section {
  @media (min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 70px;
    text-align: left;
  }
}

.customize-section {
  @media (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

.download-section {
  position: relative;
  margin-bottom: 75px;
  padding-bottom: 100px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 90px;
    text-align: left;
  }
}

.footer {
  padding-top: 18px;
  padding-bottom: 50px;
  text-align: center;

  @media (min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 20px;
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
}

.footer__tagline {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

.bottom-gradient {
  position: relative;
  height: min(15vw, 200px);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: var(--bottom-skew-height);
    right: 0;
    bottom: 0;
    left: 0;
    height: 150%;
    background: linear-gradient(50deg, var(--pink) 0%, var(--yellow) 100%);
    transform: skewY(4deg);
  }
}
